body
  {background-color: #000000;
  border-left: 9px red;
  height: 200px;
  }

h1
  {color: #00ff26;
  font-family: Monospace;
  text-align: Center;
}

p
  {color: #FFFFFF;
  font-family: Monospace;
  text-align: Center;
  font-weight: Bold;
}
  
  